# Editor configuration, see
# https://editorconfig-specification.readthedocs.io/en/latest/#supported-pairs

root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[tests/__template__/src/**]
insert_final_newline = false

[{**/coverage/**,**/dist/**,**/docs/**,*.md}]
trim_trailing_whitespace = unset
