name: Publish

on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - CHANGELOG.md

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Publish
        run: npm publish
